body{
    font-family: sans-serif;
    background-color: blanchedalmond; 
    margin:0;  
    width: 100%;
}
 ul{
    background-color:rgb(255, 157, 157);
    margin:0;
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 0;
} 
 .menu >li{
    margin:0;
    padding:14px;
    font-size: 14pt;
    border-left: 1px solid wheat;
    text-align: center;
}

header{
    box-sizing: border-box;
    background-color: rgb(243, 201, 207);
    height: auto;
}
h1{
    margin-top: 0;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
    width: 50%;

}

h2{
    position: relative;
    left: 2.5%;
    box-sizing: border-box;
    margin: 0;
    font-size: 43pt;
    text-align: center;
    font-family: 'Bellota', cursive;
    width: 50%; 
    line-height: 1.6;  
}

img{
    position: absolute;
    left: 60%;
    top: 70px;
    height: 400px;
}
ol{
    margin-left: 200px ;
    margin-right: 200px ;
    font-family: 'Source Sans Pro', sans-serif;
}
#list{
    margin:0;
    padding:12px;
    font-size: 16pt;
    border-left: 1px solid wheat;
    color: rgb(44, 21, 21);
}
#text{
    padding: 10px;
    font-size: 14pt;
    line-height: 1.8;
}

